<% provide(:title, "All Users") %>
<h1>ユーザー一覧</h1>

<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <%= will_paginate %>
    <table class="table table-condensed table-hover" id="table-users">
      <thead>
        <tr>
          <th><%= User.human_attribute_name :name %></th>
          <% if current_user.admin? %>
            <th><%= User.human_attribute_name :basic_time %></th>
            <th><%= User.human_attribute_name :work_time %></th>
          <% end %>
        </tr>
      </thead>
      
      <% @users.each do |user| %>
        <tr>
          <td>
            <% if current_user.admin? %>
              <%= link_to user.name, user %>
            <% else %>
              <%= user.name %>
            <% end %>
          </td>
          <td class="center"><%= user.department.present? ? user.department : "未所属" %></td>
          <% if current_user.admin? %>
            <td class="center"><%= format_basic_info(user.basic_time) %></td>
            <td class="center"><%= format_basic_info(user.work_time) %></td>
          <% end %>
          <% if current_user.admin? && !current_user?(user) %>
            <td class="center">
              <%= link_to "編集", edit_basic_info_user_path(user), remote: true, class: "btn btn-success" %>
              <%= link_to "削除", user_path(user), class: "btn btn-danger", method: :delete, 
              data: { confirm: "削除してよろしいですか？"} %>
            </td>
          <% end %>
        </tr>
      <% end %>
    </table>
    <%= will_paginate %>
  </div>
</div>

<!--モーダルウインドウの表示-->
<div id="edit-basic-info" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" ></div>